<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}">
    <style>
      input.ng-invalid {
        background-color: pink ;
      }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>{{url}} FORM PAGE</title>
  </head>

  <body ng-app="miApp">
    <div ng-controller="dataForm">
      <form action = "http://app.salvaj.es/result" method = "POST">
        <p>COMUNIDAD AUTÓNOMA: <input type = "text" name = "comunidad" ng-model = "nComunidad" required/></p>
        <p>PRECIO:  <input type = "text" name = "precio" ng-model = "nPrecio" required/></p>
        <p>FECHA: <input type = "text" name = "fecha" ng-model = "nFecha" required/></p>
        <fieldset>
          <legend>Vivienda: </legend>
          <input type="radio" name="vivienda" ng-model="nVivienda" value="nueva"> NUEVA <br>
          <input type="radio" name="vivienda" ng-model="nVivienda" value="usada" checked> USADA 
        </fieldset>
        <p><input type = "submit" value = "CALCULAR" /><button ng-click="dataForm.$rollbackViewValue(); nComunidad=''; nPrecio=''; nFecha=''; nVivienda='usada'; ">BORRAR</button></p>
      </form>
      <div>
        <p>COMUNIDAD A ENVIAR: {{'{{nComunidad}}'}} </p>
        {% raw %}
          <p>PRECIO A ENVIAR: {{nPrecio}} </p>
          <p>FECHA A ENVIAR: {{nFecha}} </p>
          <p>CADENA TOTAL: {{cadenaTotal()}} </p>
        {% endraw %}
      </div>
    </div>  
    
    <div ng-controller="miAjax">
      <button type='button' id='ajax' ng-click='recibir()'>RECIBIR DATOS</button>
      <p>CONTENIDO RECIBIDO: {{'{{contenido}}'}}</p>
      <p>STATUS: {{'{{status}}'}}</p>
    </div>
    
    <script>
     var app = angular.module('miApp', []);
 
     app.controller('dataForm', function($scope) {
        $scope.nComunidad = "";
        $scope.nPrecio = "";
        $scope.nFecha = "";
        $scope.nVivienda = "usada"
        $scope.cadenaTotal = function() {
          return $scope.nComunidad + "," + $scope.nPrecio + "," + $scope.nFecha + "," + $scope.nVivienda;
          };
        });
        
      app.controller('miAjax', function($scope, $http) {
        $scope.contenido = '';
        $scope.status = 'SIN RECIBIR';
        $scope.recibir = function () {
          $http.get("data")
          .then(function(response) {
              $scope.contenido = response.data;
              $scope.status = response.status;
          }, function(response) {
              $scope.contenido = "Ha abido un problema de AJAX";
              $scope.status = response.status;
          });
        }
      });        
    </script>
  </body>

</html>