<!DOCTYPE html>
<html>
  {# Plantilla formato Jinja2 para Flask #}
  
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{{url}} LANDING PAGE</title>  
  </head>

  <body>
    <h1>WEBAPP of site salvaj.es</h1>
    <p>Hi, this WebApp is developed with Python-Flask.  It's running on an Apache2 with mod_wsgi installed on a Linux Ubuntu Server 16.04 virtualized on an EC2 type t2.micro instance of AWS.</p>
    <p>First of all, this project has a learning purpose.  Furthermore, this project will offer a tool to estimate the costs of <strong>real estate acquisition taxes and fees in Spain.</strong></p>
    <div>
      <p><ins>List of technologies implemented or used in this project:</ins></p>
      <ol>
        <li>SERVER-SIDE:</li>
        <ul>
          <li>GNU/Linux</li>
          <li>Apache2</li>
          <li>DNS</li>
          <li>HTTP</li>
          <li>FTP</li>
          <li>SSH</li>
          <li>Git</li>
          <li>Python3</li>
          <li>Flask</li>
        </ul>
        <li>CLIENT-SIDE:</li>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JavaScript</li>
          <li>AngularJS</li>
          <li>AJAX</li>
          <li>JSON</li>
        </ul>
      </ol>
    </div>
    <p>Servertime: {{servertime}}<p>
    <p>&copy; 2017 by {{user.name}}</p>
  </body>

</html>